*{
  -webkit-user-select: none;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  appearance: none;
  touch-action: none;
}
*:focus{
  outline: none;
  touch-action: none;
}
body{
  width: 100%;
  height: 100dvh;
  margin: 0;
  background-color: #F3EDF7;
 
}
#main{
  position: relative;
  width: 100%;
  height: 100%;
}
.card{
  position: absolute;
  margin: 7% 10%;
  width: 80%;
  height: 90%;
  border-radius: 10px;
  background-color: white;
  text-align: center;
  vertical-align: middle;
  display: table;
}
.card_child{
  display: table-cell;
	vertical-align: middle;
  font-size : 200%;
  word-break: break-all;
}
.kesu{
  display: none;
}
.footer{
  display: flex;
  border-top: 1px solid #b8b6b6;
  position: absolute;
  width: 100%;
  height: 12%;
  bottom: 0;
  background-color: #F3EDF7;
}
.header{
  width: 100%;
  height: 8%;
  background-color: #F3EDF7;
  display: flex;
  border-bottom: 1px solid #b8b6b6;
}
.content{
  position: absolute;
  width: 100%;
  height: 80%;
  background-color: #d9d9d9;
}
.app1Option{
  width: 90%;
  margin: 5% 5% 0% 5%;
}

.app1OptionC_begininput,
.app1OptionC_endinput{
  width: 100%;
  height: 10%;
  padding: 0;
  margin: 0 3px 0 3px ;
  border: 0;
  border-radius: 0;
  
  font-size: 14px;
  outline : none;
}
input:focus {
  position: absolute;
  top: 0;
  left: 0;
}